# ignore personal configs
.bash_history
.bash_profile
.bashrc
.cache/
.cargo/
.config/
.dotnet/
.gitconfig
.ipython/
.jupyter/
.keras/
.local/
.profile
.python_history
.rustup/
.ssh/
.vscode-R/
.vscode-server/
.w3m/
.wget-hsts
R/
aria2/
bin/
checkpoints/
folddisco-linux-x86_64.tar.gz*
folddisco-upgrade/
folddisco/
foldmason/
foldseek/
funfam/
local/
metrics/
miniforge/
mmseqs/
test.list
train.list
valid.list
